---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>August Agents | Contact</title>
    <meta
      name="description"
      content="Southern California's Manufacturers' Representative"
    />
    <link rel="icon" type="image/svg+xml" href="assets/images/AA-Logo.svg" />
    <link rel="stylesheet" href="assets/css/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include navigation.html %}
    <main>
      <h1>Contact</h1>
      <div class="grid-wrapper">
        <div class="grid-container">
          <div class="grid-item">
            <p class="contact-name"><strong>Greg</strong> - Principal, Sales</p>
            <p class="contact-location">Orange County, Central Valley</p>
            <a href="tel:+17148012768" class="number-link">
              <p class="contact-number">(714) 801-2768</p>
            </a>
            <a href="mailto:Greg@AugustAgents.com" class="email-link">
              <p class="contact-email">Greg@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name"><strong>Brad</strong> - Principal, Sales</p>
            <p class="contact-location">San Diego, Palm Desert, Las Vegas</p>
            <a href="tel:+19495127679" class="number-link">
              <p class="contact-number">(949) 512-7679</p>
            </a>
            <a href="mailto:Brad@AugustAgents.com" class="email-link">
              <p class="contact-email">Brad@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name"><strong>Jeff</strong> - Outside Sales</p>
            <p class="contact-location">LA, Ventura, San Bernardino</p>
            <a href="tel:+18057955333" class="number-link">
              <p class="contact-number">(805) 795-5333</p>
            </a>
            <a href="mailto:Jeff@AugustAgents.com" class="email-link">
              <p class="contact-email">Jeff@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name"><strong>Mike</strong> - Outside Sales</p>
            <p class="contact-role"></p>
            <p class="contact-location">LA, OC, Riverside</p>
            <a href="tel:+15626182174" class="number-link">
              <p class="contact-number">(562) 618-2174</p>
            </a>
            <a href="mailto:Mike@AugustAgents.com" class="email-link">
              <p class="contact-email">Mike@AugustAgents.com</p>
            </a>
          </div>
          <div class="grid-item">
            <p class="contact-name"><strong>Wendy</strong> - Inside Sales</p>
            <p class="contact-location">California, Nevada</p>
            <a href="tel:+16612128361" class="number-link">
              <p class="contact-number">(661) 212-8361</p>
            </a>
            <a href="mailto:Quotes@AugustAgents.com" class="email-link">
              <p class="contact-email">Quotes@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name"><strong>Amy</strong> - Outside Sales</p>
            <p class="contact-location">Showroom Lighting - SoCal</p>
            <a href="tel:+17148018075" class="number-link">
              <p class="contact-number">(714) 801-8075</p>
            </a>
            <a href="mailto:Amy@AugustAgents.com" class="email-link">
              <p class="contact-email">Amy@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name"><strong>Quotes</strong></p>
            <p class="contact-role">Info, Pricing, General Inquiries</p>
            <p class="contact-location hidden"></p>
            <p class="contact-number hidden"></p>
            <a href="mailto:Quotes@AugustAgents.com" class="email-link">
              <p class="contact-email">Quotes@AugustAgents.com</p>
            </a>
          </div>

        </div>
      </div>
    </main>
        <!-- The Modal -->
<div class="modal-container" id="myModal">
  <div class="modal">
    <ul class="line-card-list">
      <li>
        <a href="/assets/Linecards/ESL Vision Line Card.pdf" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width="24"
            height="24"
          >
            <path
              d="M64 464l48 0 0 48-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 304l-48 0 0-144-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z"
            />
          </svg>
          ESL Vision
        </a>
        <br />
      </li>
      <li>
        <a href="/assets/Linecards/August Agents Line Card.pdf" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width="24"
            height="24"
          >
            <path
              d="M64 464l48 0 0 48-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 304l-48 0 0-144-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z"
            />
          </svg>
          August Agents
        </a>
        <br />
      </li>
    </ul>
  </div>
</div>

    {% include footer.html %}
    <script src="/assets/js/contact.js"></script>
    <script src="assets/js/modal.js"></script>
  </body>
</html>
