<footer>
  
  <div class="footer-contact">
    <div class="footer-location-container">
      <img src="assets/images/Map-Vector.svg" />
    <p class="location-text">
      <strong> Irvine, California </strong>
    </p>
    </div>
    <div class="find-us-container">
      <p class="contact-text">
        <strong> Find Us: </strong>
      </p>
      <a href="https://www.linkedin.com/company/august-agents/" target="_blank">
        <img
          src="assets/images/LinkedIn.svg"
          alt="LinkedIn"
          class="contact-social"
        >
      </a>
      <a href="https://www.instagram.com/augustagents/" target="_blank">
        <img src="assets/images/Instagram.svg"
        alt="Instagram"
        class="contact-social"
        >
      </a>
      <a href="https://www.nemra.org/" target="_blank">
        <img src="assets/images/Nemra.png" alt="Nemra" class="contact-social" />
      </a>
    </div>
  </div>
  <div class="copyright-container">
    <p class="copyright">© Copyright 2024 August Agents</p>
  </div>
</footer>
