body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.nav-button-link {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #1F1F1F;
}

p {
  margin: 0;
}

h1 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 3em;
  padding: 0 10vw;
  color: #1F1F1F;
  margin: 0;
  padding-bottom: 2vh;
}

h2 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #1F1F1F;
}

.about-description {
  margin: 0 0 0 10vw;
  padding-right: 0vw;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
}

.header {
  position: relative;
  width: 100%;
  background-image: url('/assets/images/Top-Banner-AA.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 171px;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  z-index: 2;
}

.logo {
  width: 11vw;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
  z-index: 2;
  cursor: pointer;
  }
  
  .sidebar {
  height: 100vh;
  width: 280px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: -280px;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: transform 0.5s;
  padding-top: 60px;
  text-align: center;
  }
  
  .sidebar-logo {
  width: 150px;
  height: auto;
  margin-bottom: 40px;
  }
  
  .sidebar a, .sidebar .dropdown-toggle {
  padding: 20px 15px;
  text-decoration: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  color: #02475E;
  display: block;
  }
  
  .sidebar .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  }
  
  .sidebar .dropdown-menu a {
  font-size: 18px;
  color: #0088ff;
  padding: 20px 15px;
  }
  
  .sidebar .dropdown-menu a:active {
  color: #333;
  background-color: #f8f9fa;
  }
  
  #hamburger {
  color: #1F1F1F;
  display: none;
  position: absolute;
  left: 22px;
  font-size: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #1F1F1F;
}

nav li {
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1F1F1F;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo-container-menu {
  min-height: 126px;
  border-bottom: 2px solid #E7E7E7;
  margin-bottom: 32px;
}

.logo-menu { 
  width: 114px;
}

.menu-item-link {
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-item {
  padding: 20px 20px;
  border: none;
  background: none;
  text-align: left;
  font-size: 1.3em;
  color: #1F1F1F;
  cursor: pointer;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.menu-item:hover {
  color: #4b95d6;
}

.menu-item:active {
  color: #195C96;
}

.navbar {
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #1F1F1F;
  padding: 10px;
}

.nav-links a.active {
  text-decoration: none;
  color: #195C96;
  padding: 10px;
}

.nav-links a:hover {
  color: #599DD9;
}

.slogan-container, .category-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 6vh 3vw;
}

.category-headline {
  margin: 0 3vw;
}

.cta-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6vh;
}

.cta-button, .cta-button:hover, .cta-button:active, .cta-button:focus {
  display: inline-flex;
  width: 215px;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 166px;
  border: none;
  box-sizing: border-box;
  outline: none;
  touch-action: manipulation;
  text-decoration: none;
  background: #0071BC;
  color: white;
  margin-right: 16px;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

.cta-button:hover {
  opacity: 0.8;
}

.cta-button:active, .cta-button:focus {
  position: relative;
  opacity: 0.6;
}

.hero-img-container img {
  margin-top: 8vh;
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-img-container img {
  width: 100%;
}

.manufacturer-products-sub, .location-text {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0;
}
.card-p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-left: 6px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.footer-location {
  display: flex;
  align-items: center;
  margin: 4vh 0 0 10vw;
}

.footer-location-container {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.location-text {
  margin: 0;
  margin-left: 12px;
  max-width: fit-content;
}

.find-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 10vw;
}

.contact-text {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

.contact-social {
  margin-left: 12px;
}

.contact-social:hover {
  opacity: 0.8;
}

.contact-social:active {
  opacity: 0.6;
}

.copyright {
  display: flex;
  align-items: center;
  margin: 0 2vw;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

.copyright-container {
  display: flex;
  justify-content: center;
  margin: 0 0 2vh 0;
}

.logo-container {
  display: inline-block;
  line-height: 0;
  height: auto;
  width: auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 4vh;
}

.about-section {
  max-width: 50%;
}

.carousel-container {
  position: relative;
  max-width: 500px;
  margin: auto;
  padding-bottom: 20px;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.active {
  display: block;
}

.dot-container {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 10%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 6;
}
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: auto;
  box-shadow: 0px 0px 10px #cccccc;
  z-index: 6;
}

.line-card-list li {
  padding:10px 0;
}

@media (min-width: 1024px) {
#hamburger, .sidebar, .sidebar-overlay {
  display: none;
}
}

@media only screen and (max-width: 768px) {
h1 {
  font-size: 2.2em;
}

.header {
  position: relative;
  width: 100%;
  background-image: url('/assets/images/Top-Banner-AA-Mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 167px;
}

.header-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vh 4vw;
}

#hamburger {
  display: block;
  font-size: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.logo-hamburger-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: auto;
}

#lineCardBtn {
  display: block;
}

.slogan-container, .cta-button-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slogan-container {
  margin: 3vh 0;
}

.hero-img-container img {
  margin: 3vh 0;
  width: 100%;
}

.cta-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cta-button, .cta-button:hover, .cta-button:active, .cta-button:focus {
  width: 215px;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 166px;
  margin: 10px 0;
}

.nav-links {
  display: none;
}

.cta-button {
  margin: 10px 0;
}

.logo {
  width: 50vw;
  max-width: 150px;
}

.nav-links li {
  margin: 10px 0;
}

.hidden-mobile {
  display: none;
}

.content-wrapper {
  display: block;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0 0 2vh 0;
}

.about-section {
  width: 100%;
  max-width: 100%;
}

.carousel-container {
  max-width: 500px;
  margin: auto;
  margin-bottom: 4vh;
  padding: 4vh 5vw;
  position: relative;
}

.about-description {
  width: 100%;
  padding: 0;
  margin: 0;
}

.content-wrapper, .about-section {
  width: 100%;
  max-width: 100%;
  padding: 0 2vw;
  box-sizing: border-box;
}

.footer-location {
  margin: 3vh 5vw 1vh;
  display: flex;
}

.footer-location-container {
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

.footer-contact {
  margin: 0 5vw;
  display: block;
  justify-content: center;
}

.contact-social {
  margin: 5px;
}

.copyright {
  margin: 2vh 8vw;
}
}

@media (min-width: 768px) and (max-width: 800px) {
.footer-location {
  margin: 3vh 5vw 1vh;
}

.footer-contact {
  margin: 0 5vw;
}

.contact-social {
  margin: 5px;
}

.copyright {
  margin: 3vh 8vw;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.header {
  position: relative;
  width: 100%;
  background-image: url('/assets/images/Top-Banner-AA.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 167px;
}

.header-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vh 4vw;
}

#hamburger {
  display: block;
  font-size: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.logo {
  width: 20vw;
}

.nav-links {
  display: none;
}

.logo-hamburger-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: auto;
}

.logo-container img {
  max-width: 50vw;
}

.content-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.about-section {
  width: 100%;
  max-width: 100%;
}

.carousel-container {
  width: 70%;
  margin: auto;
  padding: 4vh 5vw;
  position: relative;
}

.about-description {
  width: 100%;
  padding: 0;
  margin: 0;
}

.content-wrapper, .about-section {
  width: 100%;
  max-width: 100%;
  padding: 0 2vw;
  box-sizing: border-box;
}
}